# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
- List popular languages for Data Science
- List the libraries used for Data Science
- List Data Scinece Tools
- Evaluate arithmetic operations

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1.numpy

2.scipy

3.pandas

|Data Science Tools|
|------------------|
|Apache Spark|
|Tensor Flow|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [11]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [13]:
200/60

3.3333333333333335

## Author
Kasi Aswin